/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --page-width: clamp(min(100%, 375px), 50vw, 700px);
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P-Regular';
  --main-font-weight: 400;
  --accent-font-weight: 700;
  --bg-color: #FFFFFF;
  --accent-color: #000000;
  --bg-gradient: repeating-linear-gradient(
    to right,
    #d3d3d3 0,
    #d3d3d3 1px,
    transparent 2px,
    transparent 4px
  ),
  repeating-linear-gradient(
    to bottom,
    #d3d3d3 0,
    #d3d3d3 1px,
    transparent 2px,
    transparent 4px
  ),
  linear-gradient(to bottom, #e7e7e7 00.01%, #1a1a1a);
  --contour-color: #000000;
  --fill-color: #FF0000;
  --color-button-text: #ffffff;
}